body{
    background-color:darkgrey;
    margin: 0 auto;
    padding: 0 auto;
}
.backG{
    background-image: url('../images/House.jpg');
    width: 100%;
    height: 700px;
}
.backG p{
    margin-top: 450px;
    font-size: 35px;
    text-align: center;
}
.hedlin{
    margin: 10px 0px 10px 0px;
    font-size: 35px;
    text-align: center;
}
.topc{
    text-align: center;
    color: black;
}
.ftor{
    background-color: rgb(25, 24, 24);
    margin-top: 15px;
    padding-top: 15px;
}
.nam{
    color: white;
}